section[class='contact'] {
    min-height: 0;
    padding: 0;
}

.contact-wrapper {
    padding: calc(75px + 12vh) 0;
}

.contact p {
    text-align: center;
}

.contact-header {
    font-size: calc(0.5vw + 24px);
    font-weight: 600;
}

.contact-text {
    font-size: calc(0.3vw + 16px);
    color: var(--secondary-text-color);
    margin: calc(2vh + 20px) auto calc(2.5vh + 24px) auto;
}

.social-media {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: calc(2vh + 20px);
}

.social-media svg {
    fill: var(--secondary-text-color);
    height: 36px;
    margin: auto 16px;
    border-radius: 5px;
    transition: transform 0.3s ease;
}

.social-media svg:hover {
    transform: translateY(-4px);
    background-image: radial-gradient(circle at center, var(--secondary-primary-color), #287a7b61);
    box-shadow: 0px 0px 18px 4px var(--secondary-primary-color);
}

footer {
    word-spacing: 5px;
    letter-spacing: 1px;
    margin-bottom: 32px;
    font-size: calc(0.2vw + 14px);
    color: var(--secondary-text-color);
}