:root {
    --background-color: #080808;
    --secondary-background-color: #156886;
    --primary-color: #3aafa9;
    --secondary-primary-color: #287A7B;
    --text-color: #ffffff;
    --secondary-text-color: #DEF2F1;
}


html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Gill Sans", sans-serif;
}

body {
    background: var(--background-color);
    color: var(--text-color);
}

header {
    position: fixed;
    top: 0;
    width: 90%;
    padding: 12px calc(6vw + 10px);
    background: #0808085f;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    z-index: 999;
}

nav {
    display: flex;
    flex-direction: row;
}

nav a:hover {
    color: var(--primary-color);
}

nav a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: -5px;
    left: 0;
    background-color: var(--primary-color);
    transform-origin: bottom right;
    transition: transform 0.3s ease-out;
}

nav a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

nav a {
    display: inline;
    text-decoration: none;
    position: relative;
    font-size: calc(0.4vw + 16px);
    margin: 12px 24px;
    color: var(--text-color);
}

.logo {
    width: 180px;
}

.toogle-navbar {
    width: 40px;
    fill: var(--text-color);
    margin-right: calc(5vw + 6px);
    display: none;
}

section {
    min-height: calc(100vh - 115px - 5vw);
    align-items: center;
    justify-content: center;
    margin: auto calc(6vw + 10px);
    padding-top: calc(75px + 3vw);
    padding-bottom: calc(40px + 2vw);
}

.section-wrapper {
    background-color: var(--secondary-background-color);
}

.section-title {
    font-size: calc(0.5vw + 25px);
    color: var(--primary-color);
    font-weight: 600;
    text-align: center;
    margin-bottom: calc(4vh + 16px);
}

highlight {
    color: var(--primary-color);
    font-weight: 600;
}

@media screen and (max-width: 920px) {
    header, nav {
        flex-direction: column;
    } 
    header>div {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .toogle-navbar {
        display: flex;
    }
    nav {
        display: none;
        text-align: center;
    }
}
